.gallery {
  position: absolute;
  margin-top: 250px;
  transform: translateY(-50%);
  width: 100%;
  height: 400px;
  max-height: 28vw;
  overflow: hidden;
}

.gallery:before,
.gallery:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}

.gallery:before {
  left: 0;
  background:  linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.gallery:after {
  right: 0;
  background:  linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.gallery__stream {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.gallery__item {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: 1s all ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
}

.gallery__item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(.8);
}

.gallery__item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.gallery__item:nth-child(3) {
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}

.gallery__item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.gallery__item:nth-child(n+5) {
  left: 100%;
  z-index: 1;
  transform: scale(.8);
}

/* Controllers */

.gallery__prev,
.gallery__next {
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  cursor: pointer;
}

.gallery__prev {
  left: 0;
}

.gallery__next {
  left: 100%;
}

/* Backgrounds */

.bg-1 {
  background-image: url(../imagens/exemplos/2881965.jpg);
}

.bg-2 {
  background-image: url(../imagens/exemplos/3209205.jpg);
}

.bg-3 {
  background-image: url(../imagens/exemplos/3220919.jpg);
}

.bg-4 {
  background-image: url(../imagens/exemplos/3323702.jpg);
}

.bg-5 {
  background-image: url(../imagens/exemplos/4842719.jpg);
}

.bg-6 {
  background-image: url(../imagens/exemplos/719.jpg);
}

/* BottGallery */

.botgallery{
  position:absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform:     translate(-50%);
  transform:         translate(-50%);
  bottom: 10%;
  color: #ffffff;
  font-size: 24px;
  border: 2px solid transparent;
  text-align: center;
  width: 120px;
  height: auto;
  background-image: linear-gradient(to right, #FE0279, #E820B4, #DA3FF8);
  border-radius: 20px;
}